/* Main content */
.content {
    color: #333;
    direction: ltr;
    font-family: Arial, Verdana, sans-serif;
    font-size: 10pt;
    font-weight: normal;
    grid-column: 2;
    grid-row: 7;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
} 

code {
    color: #006000;
}

div.goog-toc p {
    padding: 4px 5px 0;
    margin: 0;
    font-weight: bold;
    }

div.goog-toc {
    background:none;
    border: 1px solid #ccc;
}

pre.bash-cmd {
    border:           5px groove black;
    margin-left:      10px;
    padding:          2px;
    background-color: lightgreen;
    }
        
pre.sql-cmd {
    border:           5px groove black;
    margin-left:      10px;
    padding:          2px;
    background-color: #def87c;
    }
        
pre.text {
    border:      5px groove black;
    margin-left: 10px;
    padding:     2px;
    background-color: #7ccdf8;
    }

span.file-name {
        font-family: monospace;
    }

span.menu-text {
    font-weight: bold;
    background-color: honeydew;
}

span.button-text {
    font-style: italic;
    background-color: honeydew;
}

.host-name {
    font-family:monospace;
    background-color:#f2f2f2;
    font-size:large;
}

.user-name {
    font-family:monospace;
    background-color:#f2f2f2;
    font-size:large;
}

a.file-name {
        font-family: monospace;
    }
