
.file-download {
    color: #333;
    direction: ltr;
    display: block;
    font-family: Arial,Verdana,sans-serif;
    font-size: 12px;
    text-align: left;
    grid-row: 8;
    grid-column: 2;
}

.file-download-menu {
    border: 4px double #ccc;

    div {
        margin: 5px auto 5px 5px;
        overflow: hidden;
        padding-bottom: 0;
        width: auto;
    }

    li {
        border: 0 none white;
        color: #336699;
        overflow: hidden;
        text-decoration: none;
        text-overflow: ellipsis;
    }

    ul {
        border: 0 none white;
        color: #333;
        line-height: 1.5em;
        list-style-type: none;
        margin-left: 10px;
        overflow: hidden;
        padding-left: 0;
    }

    p {
        border: 0 none white;
        color: #383838;
        font-weight: bold;
        margin: 0;
        padding: 3px 5px;
    }
}

.file-download-postlude {
    direction: ltr;
}
