.page-title {
    min-height: 24px;
    padding: 8px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    margin :auto;
    width: 100%;
    grid-row: 2;
    grid-column: 2;
    text-align: center;
}